/* Navbar container */
.navbar {
  top: 0;
  left: 0;
  width: 94%;
  height: 60px;
  background-color: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Logo */
.navbar-logo {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar-logo:hover {
  transform: scale(1.05);
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Cart section */
.navbar-cart {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar-cart:hover {
  color: #38bdf8;
}

/* Cart badge */
.cart-badge {
  position: absolute;
  top: -8px;
  right: -14px;
  background-color: #ef4444;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 7px;
  min-width: 20px;
  text-align: center;
}

/* Logout button */
.logout-btn {
  background-color: #ef4444;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout-btn:hover {
  background-color: #dc2626;
  transform: translateY(-2px);
}

/* Category bar */
.category-bar {
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(250, 246, 246, 0.0);
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Category links */
.category-bar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.2s ease;
}

.category-bar a:hover {
  color: #2563eb;
}
